<!-- fromage -->
<!-- charcut -->
<!-- pâté -->
<template>
  <div>
    {{ fromStringified }}
    <br/>
    {{ from2 }}
    <MonComposantAdresse
      :address="from"
      :label="$t('views.search.from')"
      @editAddress="addressNameToEdit = 'from'"
      @search-address="fetchCoordinates(from)"
    />
    <MonComposantAdresse
      :address="to"
      :label="$t('views.search.to')"
      @edit-address="addressNameToEdit = 'to'"
      @search-address="fetchCoordinates(to)"
    />
    <MonComposantAdresseForm
      v-if="addressNameToEdit"
      v-model:address-to-edit="addressToEdit"
      :fields="fields"
      @close="addressNameToEdit = null"
    />

    <table v-if="!loading">
      <tr
        v-for="coordinate in coordinates"
        :key="coordinate.properties.id"
        @mouseover="currentCoordinate = coordinate"
      >
        <td>
          <button @click="currentCoordinate = coordinate">sélect</button>
        </td>
        <td>
          {{ coordinate.properties.label }}
        </td>
        <td>
          {{ coordinate.properties.context }}
        </td>
      </tr>
    </table>

    <div v-else>Loading...</div>

    <MonComposantCarte
      :coordinates="coordinates"
      :currentCoordinate="currentCoordinate"
    >
      <template v-if="currentCoordinate" v-slot:popup>
        {{ currentCoordinate.properties.label }}
      </template>
    </MonComposantCarte>
    <hr>
  </div>
</template>

<script>
import { toRefs } from 'vue'
import MonComposantAdresse from '@/components/Address.vue'
import MonComposantAdresseForm from '@/components/AddressForm.vue'
import MonComposantCarte from '@/components/Carte.vue'
// import { state, addressToEdit, fetchCoordinates } from '@/store'
import useAddress from '@/composables/useAddress.js'

export default {
  components: {
    MonComposantAdresse,
    MonComposantAdresseForm,
    MonComposantCarte
  },
  props: {
    address: {
      type: String
    }
  },
  // data () {
  //   return state
  // },
  setup () {
    const {
      addressState,
      addressToEdit,
      fetchCoordinates
    } = useAddress()
    return {
      ...toRefs(addressState),
      addressToEdit,
      fetchCoordinates
    }
  },
  computed: {
    // addressToEdit,
    fromStringified: {
      get () {
        return JSON.stringify(this.from) + JSON.stringify(this.to)
      }
    },
    from2 () {
      return this.fromStringified + 'from2'
    }
  },
  async mounted () {
    if (this.address) {
      const addressJSON = JSON.parse(this.address)
      this.from = {
        ...this.from,
        ...addressJSON
      }
    }
    await this.fetchCoordinates(this.from)
    if (this.coordinates.length > 0) {
      this.currentCoordinate = this.coordinates[0]
    }
  }
  // methods: {
  //   fetchCoordinates
  // }
}
</script>
